/* Home.css */

/* Style for the translucent background */
.outer-container {
    background: url('background5.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    padding: 20px;
    min-height: 100vh;
    overflow: hidden; 
    backdrop-filter: brightness(150%) blur(3px);
    
  }
  
  .outer-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); 
    z-index: -1;
    
  }
  

  .inner-container {
    background-color: #f0f0f0;
    padding: 20px; 
    border-radius: 10px; 
  }